<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container">
      <a routerLink="/customer-service/terms-of-sale">English ></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2  terms-container">
      <h4>TÉRMINOS Y CONDICIONES DE VENTA Y ACUERDO DE ARBITRAJE Y RESOLUCIÓN DE DISPUTAS</h4>
      <p>Los siguientes Términos y Condiciones de Venta y el Acuerdo de Arbitraje y Resolución de Disputas son contratos
        vinculantes entre usted y la filial de Rooms To Go que realiza la venta, a la que se hará referencia como “RTG”,
        “nosotros” o “nos”. Los Términos y Condiciones de Venta y el Acuerdo de Arbitraje y Resolución de Disputas están
        expresamente concebidos para el beneficio de todas las filiales de Rooms To Go y de sus empresas matrices,
        subsidiarias, divisiones, accionistas, miembros, directores, ejecutivos, empleados, representantes,
        predecesores, sucesores y cesionarios. “Usted” significa cualquier persona o entidad que firme esta Orden de
        Venta o en cuyo nombre se firme la misma y cualesquiera asesores, y cualquier persona o entidad que reciba,
        acepte o use los productos o servicios comprados. Todas esas personas son los beneficiarios expresamente
        previstos del Acuerdo de Arbitraje y Resolución de Disputas. Estos acuerdos no pueden ser cambiados salvo
        mediante acuerdo por escrito y firmado. Si se considera que cualquier parte de estos tres acuerdos no es válida
        o no se puede hacer cumplir, entonces las otras partes mantendrán la misma fuerza y efecto, con la excepción de
        que si se considera que cualquier parte de la Sección 2 del Acuerdo de Arbitraje y Resolución de Disputas no es
        válida o no se puede hacer cumplir, entonces las secciones 1 y 3 del Acuerdo de Arbitraje y Resolución de
        Disputas serán nulas e inválidas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container">
      <h4>TÉRMINOS Y CONDICIONES DE VENTA</h4>
      <p>Toda la mercancía que se vende en las Outlet Stores de Rooms To Go se vende “En su estado actual”. Las ventas
        “En su estado actual” no son elegibles para devoluciones, cambios, concesiones, reembolsos ni servicio. La
        mercancía “En su estado actual” se vende sin ningún tipo de garantía, sea explícita o implícita, lo que incluye,
        a título enunciativo, pero no limitativo, las de comercialización e idoneidad para cualquier propósito en
        particular, donde lo permita la ley.
      </p>
      <p>Usted acepta que podemos compartir la información que nos proporciona en el momento de la compra para procesar
        su orden (incluyendo, a título enunciativo pero no limitativo, compartir su información con una compañía que le
        entregue a usted su mercancía) y con nuestros proveedores externos de servicios de marketing, para la
        investigación y mejora de productos y para ayudarnos a focalizar nuestros esfuerzos de marketing. Dicha
        información puede incluir su nombre, información de contacto e historial de compra. Al proporcionarnos de manera
        voluntaria su información y completar su compra, usted acepta que utilicemos su información de la manera
        descrita.
      </p>
      <p>Usted debe recoger su mercancía o programar la entrega en un plazo de 24 horas de la realización de la compra.
        Todas las órdenes que no cumplan esta política estricta de 24 horas quedan sujetas a cancelación. Si su orden es
        cancelada, se le emitirá un certificado de mercancía como reembolso de cualquier pago o depósito. Si tiene
        preguntas, diríjase al Outlet Store donde realizó la compra.
      </p>
      <p><b>Recogida:</b> La recogida por el cliente se atiende por orden de llegada. Usted es responsable de confirmar el
        horario de recogida del local. No se sacará u mercancía hasta que usted llegue. Debe tener su recibo y un
        documento de identidad con fotografía válido para poder recoger su mercancía. Siempre permanezca junto a su
        vehículo mientras se encuentre en el área de recogida por el cliente. Para evitar el daño a la mercancía y/o al
        vehículo, debe venir con un vehículo lo suficientemente grande para acomodar la mercancía que va a recoger. Es
        su responsabilidad llegar con materiales adecuados para sujetar de manera segura la mercancía cargada; RTG no
        proporciona este tipo de materiales. Usted es el único responsable de cargar y transportar la mercancía. Usted
        exime a RTG de cualquier responsabilidad por cualquier daño o lesión a vehículos, mercancías o a usted mismo
        durante el proceso de carga o transporte.
      </p>
      <p><b>Servicio de Entrega a domicilio:</b> La entrega de mercancía a domicilio podría estar disponible por un cargo
        adicional, aunque las áreas de entrega podrían ser limitadas. La reprogramación de una entrega el mismo día
        programado para ella podría incurrir en cargos adicionales. Si usted cancela su orden el mismo día de la entrega
        y solicita un reembolso, cualquier pago o deposito solo será reembolsado con un certificado de mercancía. El
        servicio de entregas de RTG Outlet Store es de descarga en el punto de entrega. Algunos artículos podrían
        requerir que usted hiciera el ensamblaje de las partes. Una vez firmado el recibo de entrega, usted asume plena
        responsabilidad por la mercancía.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container">
      <h4>ACUERDO DE ARBITRAJE Y RESOLUCIÓN DE DISPUTAS: LEA DETENIDAMENTE – ESTE ACUERDO AFECTA SUS DERECHOS</h4>
      <ol>
        <li><b>Arbitraje obligatorio:</b> USTED Y RTG ACUERDAN QUE CUALQUIER DISPUTA O RECLAMACIÓN ENTRE RTG Y USTED O
          CUALQUIER FILIAL DE ROOMS TO GO O CUALQUIERA DE SUS EMPRESAS MATRICES, SUBSIDIARIAS, DIVISIONES, ACCIONISTAS,
          MIEMBROS, DIRECTORES, EJECUTIVOS, EMPLEADOS, REPRESENTANTES, PREDECESORES, SUCESORES Y CESIONARIOS, INCUYENDO,
          A TÍTULO ENUNCIATIVO PERO NO LIMITATIVO, CUALQUIER DISPUTA O RECLAMACIÓN QUE SE RELACIONE DE CUALQUIER FORMA
          CON CUALQUIER PRODUCTO O SERVICIO VENDIDO O DISTRIBUIDO POR RTG, CON CUALQUIER TRANSACCIÓN CON RTG, CON
          CUALQUIER GARANTÍA, CON LOS TÉRMINOS Y CONDICIONES DE VENTA, CON EL FINANCIAMIENTO DE CUALQUIER COMPRA POR
          RTG, O CON LA RECOLECCIÓN O ALMACENAMIENTO DE INFORMACIÓN PERSONAL, INCLUYENDO DISPUTAS O RECLAMACIONES BAJO
          LOS ESTATUTOS FEDERALES O ESTATALES O LAS LEYES DE RESPONSABILIDAD CIVIL (“DISPUTA”), DEBE RESOLVERSE
          EXCLUSIVAMENTE MEDIANTE UN ARBITRAJE FINAL Y VINCULANTE, Y NO MEDIANTE CORTE O JURADO, EXCEPTO EN EL CASO EN
          QUE USTED O RTG PUEDA EXPONER RECLAMACIONES EN UN TRIBUNAL DE DEMANDAS DE MENOR CUANTÍA, SI LAS RECLAMACIONES
          CALIFICAN PARA DICHO TRIBUNAL Y EL ASUNTO PROCEDE ÚNICAMENTE COMO CASO INDIVIDUAL (NO COMO DEMANDA COLECTIVA O
          REPRESENTATIVA). Este Acuerdo de Arbitraje y Resolución de Disputas (“Acuerdo”) se aplica a Disputas que
          surjan antes, durante o después de la fecha de esta Orden de Compra, independientemente de que cualquier
          garantía está vigente. Usted y RTG renuncian al derecho a juicio con jurado, y a cualquier derecho a una
          audiencia de la disputa en corte. En el arbitraje, las disputas son resueltas por un árbitro neutro en lugar
          de un juez o jurado, los hallazgos son más limitados que en una corte, y la decisión del árbitro está sujeta a
          revisión limitada por las cortes. El árbitro puede, en base individual, conceder los mismos daños y perjuicios
          e indemnizaciones que un juzgado, incluyendo compensaciones monetarias por daños y perjuicios, medidas
          cautelares y de reparación declaratoria. La sentencia sobre el laudo del árbitro podrá registrarse en
          cualquier juzgado de jurisdicción competente. El arbitraje será conducido por un único árbitro de la American
          Arbitration Association (Asociación Americana de Arbitraje, “AAA”) y la indemnización no debe exceder la
          establecida por las leyes aplicables. El arbitraje será conducido en el condado donde usted resida, o en
          cualquier otra ubicación mutuamente acordada. Se aplicará el Reglamento de Arbitraje de Consumo de la AAA. Si
          la AAA no aplica dicho reglamento, se aplicará el Reglamento de Arbitraje Comercial de la AAA. El reglamento
          de la AAA y un formulario que puede utilizarse para iniciar los procedimientos de arbitraje están disponibles
          en www.adr.org o llamando al 1-800-778-7879. Usted y RTG acuerdan que si, por cualquier razón, la AAA no lleva
          a cabo o no está disponible para llevar a cabo el arbitraje, entonces un tribunal puede nombrar a un árbitro
          suplente, y acuerdan además que la elección de la AA como foro no es parte integral del Acuerdo. La Ley
          Federal de Arbitraje (“FAA”) se aplica sobre este Acuerdo y rige su interpretación y cumplimiento. El árbitro
          decidirá sobre todos los asuntos relacionados con la interpretación, alcance y aplicación de este Acuerdo, y a
          los Términos y Condiciones de Venta, salvo que un tribunal dirima cualquier cuestión relacionada con la
          validez y el cumplimiento de la Sección 2 de este Acuerdo. El término “Disputa” y el requerimiento de arbitrar
          se interpretarán de manera amplia.
        </li>
        <li><b>Renuncia a Demanda colectiva de arbitraje:</b> Usted y RTG acuerdan que el arbitraje será conducido únicamente
          en base individual y no en una base general colectiva, representativa, consolidada ni de abogado privado. Una
          Disputa no puede ser consolidada con reclamaciones o hallazgos de cualquier persona o entidad que no forme
          parte del procedimiento de arbitraje. El árbitro no puede conceder compensación a cualquier persona o entidad
          que no sea una de las partes del procedimiento de arbitraje, y solo puede conceder dicha compensación como
          corresponda para proporcionar compensación a una de las partes del procedimiento de arbitraje. Si un juzgado
          declara que cualquier parte de esta Sección 2 no es válida o no se puede hacer cumplir, las secciones 1 y 3
          del Acuerdo serán nulas e inválidas.
        </li>
        <li><b>Honorarios y costos del Arbitraje:</b> Si el total de las reclamaciones por daños y perjuicios de usted es de
          $25,000 o menos, sin incluir los honorarios de sus abogados: (1) el árbitro puede concederle a usted los
          honorarios razonables de abogado, honorarios de expertos y costos si gana el arbitraje; (2) el árbitro puede
          no otorgar a RTG sus honorarios de abogados, honorarios de expertos o costos a menos que el árbitro determine
          que su reclamación fue frívola o de mala fe; y (3) RTG sufragará todos los cargos de presentación y
          administrativos y puede, o bien reembolsarle a usted cualquiera de esos cargos que la AAA le exija pagar al
          iniciar el arbitraje, o bien, si usted envía una solicitud por escrito al Legal Department, 400 Perimeter
          Center Terrace, Suite 800, Atlanta, GA 30346 antes de que usted inicie el arbitraje, pagarle a la AAA aquellos
          cargos que la AAA exija que se paguen al iniciar el arbitraje. Si el total de las reclamaciones por daños y
          perjuicios de usted es más de $25,000, sin incluir los honorarios de sus abogados, el árbitro puede conceder a
          la parte vencedora la totalidad o parte de sus gastos razonables por concepto de honorarios de abogados,
          honorarios de expertos y costos. En arbitrajes conducidos bajo el Reglamento de Arbitraje de Consumo de la
          AAA, (a) RTG sufragará los cargos y gastos del árbitro, y (b) cuando no haya reclamaciones o
          contrarreclamaciones divulgadas que excedan los $25,000, la Disputa se solucionará mediante presentación de
          documentos únicamente/arbitraje de escritorio, excepto cuando alguna de las partes solicite una audiencia, o
          el árbitro decida que es necesaria una audiencia. A menos que se disponga lo contrario en el presente, todos
          los cargos de presentación, cargos administrativos y gastos serán pagados de acuerdo con el reglamento
          aplicable de la AAA.
        </li>
        <li><b>Renuncia a demanda colectiva sin arbitraje y a jurado:</b> Usted y RTG aceptan que si por cualquier motivo
          procede una Disputa en corte, en lugar de arbitraje: (1) Usted y RTG renuncian al derecho a juicio con jurado;
          (2) la Disputa procederá únicamente sobre una base individual, no colectiva ni representativa; y (3) ni usted
          ni RTG pueden ser miembro de una demanda colectiva o representativa, ni de otra forma participar en ningún
          procedimiento general colectivo, representativo, consolidado o de abogado privado.
        </li>
      </ol>
      rev.H/B0AG
    </div>
  </div>
</div>
