@import "../../../assets/styles/variables";

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  text-align: left;

  @include media-breakpoint-down(xs) {
    text-align: center;
    margin-left: 0;
  }

  li {
    display: inline;

    @include media-breakpoint-down(xs) {
      display: inline-block;
      float: none;
    }
  }
}

