<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container">
      <a routerLink="/customer-service/terminos-de-venta">En Español ></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2  terms-container"><h4>TERMS AND CONDITIONS OF SALE AND DISPUTE RESOLUTION/ARBITRATION AGREEMENT</h4>
      <p>The Terms and Conditions of Sale and Dispute Resolution/Arbitration Agreement below are binding agreements
        between
        you and the Rooms To Go affiliate making this sale, which is referred to as “RTG,” “we” or “us.” The Terms and
        Conditions of Sale and Dispute Resolution/Arbitration Agreement are expressly intended for the benefit of all
        Rooms To
        Go affiliates and their parent companies, subsidiaries, divisions, shareholders, members, directors, officers,
        employees, representatives, predecessors, successors, and assigns. “You” means any person or entity who signs
        this
        Sales Order or on whose behalf it is signed and any privies, and any person or entity who receives, accepts, or
        uses
        the purchased products or services. All such persons and entities are expressly intended beneficiaries of the
        Dispute
        Resolution/Arbitration Agreement. These agreements may not be changed except by a signed written agreement. If
        any
        part of any of these agreements is found invalid or unenforceable, then the other parts shall remain in full
        force and
        effect, except that if any part of Section 2 of the Dispute Resolution/Arbitration Agreement is found invalid or
        unenforceable, then Sections 1 and 3 of the Dispute Resolution/Arbitration Agreement will be null and void.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container"><h4>TERMS AND CONDITIONS OF SALE</h4>
      <p>All merchandise sold at Rooms To Go Outlet Stores are sold “As Is.” “As Is” sales are FINAL and are not
        eligible for
        return, exchange, allowance, refund or service. “As Is” merchandise is sold without any warranty of any kind,
        either
        express or implied, including without limitation, those of merchantability and fitness for a particular purpose,
        where
        allowed by law.
      </p>
      <p>You agree that we may share information you provide to us at the time of sale to process your order (including,
        without limitation, sharing your information with a company that delivers your merchandise to you) and with our
        third
        party marketing service providers, for product research and improvement and to help us target our marketing
        efforts.
        This information may include your name, contact information, and purchase history. By voluntarily providing your
        information to us and completing your purchase, you consent to our use of your information as described.
      </p>
      <p>You must pick up your merchandise or schedule a delivery within 24 hours of your purchase being made. All
        orders that
        do not comply with this strict 24 hour policy are subject to cancellation. If your order is cancelled you will
        be
        issued a merchandise certificate as a refund for any payments or deposits. Please direct any further questions
        you may
        have to the Outlet Store where your purchase was made.
      </p>
      <p><b>Pick up:</b> Customer pickup operates on a first come basis. It is your responsibility to verify the
        location’s
        pick-up hours. Your merchandise will not be pulled prior to your arrival. You must have your receipt and proper
        photo
        identification in order to pick up your merchandise. Always remain with your vehicle while in the customer pick
        up
        area. To avoid damage to your merchandise and/or vehicle, you must arrive with a vehicle large enough to
        accommodate
        the merchandise being picked up. It is your responsibility to arrive with the appropriate material for securing
        loaded
        merchandise; RTG will not supply these materials. You are solely responsible for loading and transporting
        merchandise.
        You hold RTG harmless for any and all damage or injury to vehicles, merchandise or you during loading and
        transport.
      </p>
      <p><b>Delivery Service:</b> Merchandise delivery may be available for a charge, although delivery areas may be
        limited.
        Rescheduling of a delivery on the scheduled day may result in additional charges. If you cancel your order on
        the day
        of delivery and request a refund, any payments or deposits will be refunded by merchandise certificate only. RTG
        Outlet Store deliveries are a drop-off service. Some items may require partial assembly by you. Once a delivery
        is
        signed for, you assume full responsibility for the merchandise.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 terms-container"><h4>DISPUTE RESOLUTION/ARBITRATION AGREEMENT: READ CAREFULLY – THIS AGREEMENT AFFECTS YOUR
      RIGHTS</h4>
      <ol>
        <li><b>Mandatory Arbitration:</b> YOU AND RTG AGREE THAT ANY DISPUTE OR CLAIM BETWEEN YOU AND RTG OR ANY ROOMS
          TO GO
          AFFILIATE OR ANY OF THEIR PARENT COMPANIES, SUBSIDIARIES, DIVISIONS, SHAREHOLDERS, MEMBERS, DIRECTORS,
          OFFICERS,
          EMPLOYEES, REPRESENTATIVES, PREDECESSORS, SUCCESSORS, OR ASSIGNS, INCLUDING BUT NOT LIMITED TO ANY DISPUTE OR
          CLAIM
          THAT RELATES IN ANY WAY TO ANY PRODUCT OR SERVICE SOLD OR DISTRIBUTED BY RTG, TO ANY TRANSACTION WITH RTG, TO
          ANY
          WARRANTY, TO THE TERMS AND CONDITIONS OF SALE, TO THE FINANCING OF ANY PURCHASE FROM RTG, OR TO THE COLLECTION
          OR
          STORAGE OF PERSONAL INFORMATION, INCLUDING DISPUTES OR CLAIMS UNDER FEDERAL OR STATE STATUTES OR TORT LAW
          (“DISPUTE”) MUST BE RESOLVED EXCLUSIVELY THROUGH FINAL AND BINDING ARBITRATION, AND NOT BY A COURT OR JURY,
          EXCEPT
          THAT YOU OR RTG MAY ASSERT CLAIMS IN SMALL CLAIMS COURT IF THE CLAIMS QUALIFY FOR SMALL CLAIMS COURT AND THE
          MATTER
          PROCEEDS ONLY ON AN INDIVIDUAL (NOT A CLASS OR REPRESENTATIVE) BASIS. This Dispute Resolution/Arbitration
          Agreement
          (“Agreement”) applies to Disputes arising before, on, or after the date of this Sales Order, regardless of
          whether
          any warranty is in effect. You and RTG waive the right to a trial by jury and any right to have a Dispute
          heard in
          court. In arbitration, Disputes are resolved by a neutral arbitrator instead of a judge or jury, discovery is
          more
          limited than in court, and the arbitrator’s decision is subject to limited review by courts. The arbitrator
          can
          award on an individual basis the same damages and relief as a court, including monetary damages, injunctive
          relief,
          and declaratory relief. Judgment on the arbitrator’s award may be entered in any court having jurisdiction
          thereof.
          A single arbitrator with the American Arbitration Association (“AAA”) will conduct the arbitration, and the
          award
          may not exceed the relief allowed by applicable law. The arbitration will be conducted in the county of your
          residence or another mutually agreed location. The AAA’s Consumer Arbitration Rules will apply. If AAA will
          not
          apply those rules, then AAA’s Commercial Arbitration Rules will apply. The AAA’s rules and a form that can be
          used
          to initiate arbitration proceedings are available at www.adr.org or by calling 1-800-778-7879. You and RTG
          agree
          that if for any reason AAA will not conduct or becomes unavailable to conduct the arbitration, then a court
          may
          appoint a substitute arbitrator, and further agree that the choice of AAA as a forum is not integral to the
          Agreement. The Federal Arbitration Act (“FAA”) applies to this Agreement and governs its interpretation and
          enforcement. The arbitrator will decide all issues relating to the interpretation, scope, and application of
          this
          Agreement and the Terms and Conditions of Sale, except that a court will resolve any question regarding the
          validity
          or enforceability of Section 2 of the Agreement. The term “Dispute” and the requirement to arbitrate will be
          broadly
          interpreted.
        </li>
        <li><b>Arbitration Class Action Waiver:</b> You and RTG agree that the arbitration will be conducted solely on
          an
          individual basis and not on a class, representative, consolidated, or private attorney general basis. A
          Dispute may
          not be consolidated with a claim brought or discovery by any person or entity that is not a party to the
          arbitration
          proceeding. The arbitrator may not award relief to any person or entity other than a party to the arbitration
          proceeding and may only award such relief as is necessary to provide relief to a party to the arbitration
          proceeding. If a court deems any portion of this Section 2 invalid or unenforceable, then Sections 1 and 3 of
          the
          Agreement will be null and void.
        </li>
        <li><b>Fees and Costs in Arbitration:</b> If your total damage claims are $25,000 or less, not including your
          attorneys’ fees: (1) the arbitrator may award you your reasonable attorneys’ fees, expert fees, and costs if
          you
          prevail in the arbitration; (2) the arbitrator may not award RTG its attorneys’ fees, expert fees, or costs
          unless
          the arbitrator determines that your claim was frivolous or brought in bad faith; and (3) RTG will bear all
          filing
          fees and administrative fees and either reimburse you for any such fees that AAA requires you to pay upon
          initiating
          arbitration or, if you send a written request to Legal Department, 400 Perimeter Center Terrace, Suite 800,
          Atlanta,
          GA 30346 before you initiate arbitration, pay to AAA any such fees that AAA requires to be paid upon
          initiation of
          arbitration. If your total damage claims are more than $25,000, not including your attorneys’ fees, then the
          arbitrator may award the prevailing party all or a portion of its reasonable attorneys’ fees, expert fees, and
          costs. In arbitrations conducted under AAA’s Consumer Arbitration Rules, (a) RTG will bear the arbitrator’s
          fees and
          expenses, and (b) where no disclosed claims or counterclaims exceed $25,000, the Dispute shall be resolved by
          the
          submission of documents only/desk arbitration, except that any party may ask for a hearing or the arbitrator
          may
          decide that a hearing is necessary. Except as otherwise provided herein, all filing fees, administrative fees,
          and
          arbitrator fees and expenses will be paid in accordance with the applicable AAA rules.
        </li>
        <li><b>Non-Arbitration Class Action and Jury Waiver:</b> You and RTG agree that if for any reason a Dispute
          proceeds
          in court rather than arbitration: (1) you and RTG waive any right to a jury trial; (2) the Dispute will
          proceed
          solely on an individual, non-class, non-representative basis; and (3) neither you nor RTG may be a class
          representative or class member or otherwise participate in any class, representative, consolidated, or private
          attorney general proceeding.
        </li>
      </ol>
      rev.H/B0AG
    </div>
  </div>
</div>
